@page "/services/new"
@namespace RapportinoServer.Pages.Services
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms

@inherits NewTypeServicePageBase

<PageTitle>Nuovo Tipo di Servizio</PageTitle>

<div class="service-page">

    <h1 class="service-page__title">Nuovo Tipo di Servizio</h1>

    <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit" class="service-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!-- Nome -->
        <div class="form__group form__group--full">
            <label class="form__label">Nome</label>
            <InputText class="form__input" @bind-Value="Service.Name" />
            <ValidationMessage For="@(() => Service.Name)" />
        </div>

        <!-- Botões -->
        <div class="form__group form__group--full group--buttons">


            <button class="btn btn--primary btn--save" type="submit" disabled="@IsSaving">
                <span class="loader loader--small" hidden="@(!IsSaving)"></span>
                Salva
            </button>
        </div>

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert--error">@ErrorMessage</div>
        }
    </EditForm>
</div>
