<header class="header">
    <nav class="nav">

        <!-- Botão Hamburguer (mobile) -->
        <input id="navbar-toggler" type="checkbox" class="nav__toggle-input" />

        <label for="navbar-toggler" class="nav__toggle-button">
            <span class="nav__toggle-line"></span>
            <span class="nav__toggle-line"></span>
            <span class="nav__toggle-line"></span>
        </label>


        <!-- MENU HORIZONTAL -->
        <div class="nav__scroll">
            <div class="nav__list">

                <div class="nav__item">
                    <NavLink href="/home" class="nav__link">
                        <i class="nav__icon"></i>Home
                    </NavLink>
                </div>

                <div class="nav__item">
                    <NavLink href="/clients/new" class="nav__link">
                        <i class="nav__icon"></i>Nuovo Cliente
                    </NavLink>
                </div>

                <div class="nav__item">
                    <NavLink href="/reports" Match="NavLinkMatch.All" class="nav__link">
                        <i class="nav__icon"></i>Lista di Rapportini
                    </NavLink>
                </div>

                <div class="nav__item">
                    <NavLink href="/reports/new" class="nav__link">
                        <i class="nav__icon"></i>Nuovo Rapportino
                    </NavLink>
                </div>

                @if (AuthState.IsAdmin)
                {
                    <div class="nav__item">
                        <NavLink href="/services/new" class="nav__link">
                            <i class="nav__icon"></i>Nuovo Tipo di Servizio
                        </NavLink>
                    </div>

                    <div class="nav__item">
                        <NavLink href="/technicians/new" class="nav__link">
                            <i class="nav__icon"></i>Nuovo Tecnico
                        </NavLink>
                    </div>

                    <div class="nav__item">
                        <NavLink href="/clients" Match="NavLinkMatch.All" class="nav__link">
                            <i class="nav__icon"></i>Lista dei Clienti
                        </NavLink>
                    </div>

                    <div class="nav__item">
                        <NavLink href="/technicians" Match="NavLinkMatch.All" class="nav__link">
                            <i class="nav__icon"></i>Lista dei Tecnici
                        </NavLink>
                    </div>

                    <div class="nav__item">
                        <NavLink href="/services" Match="NavLinkMatch.All" class="nav__link">
                            <i class="nav__icon"></i>Lista dei Servizi
                        </NavLink>
                    </div>
                }

                @if (AuthState.IsAuthenticated)
                {
                    <div class="nav__item nav__item--logout">
                        <button class="nav__logout-button" @onclick="Logout">
                            <i class="nav__icon"></i> Logout
                        </button>
                    </div>
                }

            </div>
        </div>
       
    </nav>

    <div class="header__user">
        Connesso: @AuthState.CurrentTechnician?.Username
    </div>
</header>



@code {
    [Inject] private RapportinoServer.Services.AuthStateService AuthState { get; set; } = default!;
    [Inject] private NavigationManager Nav { get; set; } = default!;

    private void Logout()
    {
        AuthState.SignOut();
        Nav.NavigateTo("/login", forceLoad: false);
    }
}
