<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["RapportinoServer.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode()" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode()" />
    <ReconnectModal />

    <!-- Scripts externos -->
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.5/dist/signature_pad.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="js/signature.js"></script>
    <script src="js/site.js"></script>

    <!-- Script correto do Blazor -->
    <script src="_framework/blazor.web.js"></script>

    <!-- Necessário por causa do app.UseAntiforgery() -->
    <AntiforgeryToken />
</body>
</html>
