/* Container centralizado */
.login-container[b-s9f70bhk5h] {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/images/background-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card[b-s9f70bhk5h] {
    width: 360px;
    padding: 32px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.285);
    backdrop-filter: blur(28px) saturate(180%);
    -webkit-backdrop-filter: blur(28px) saturate(180%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Título */
.title-page-login[b-s9f70bhk5h] {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

/* Inputs */
.input-group[b-s9f70bhk5h] {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label.username-login[b-s9f70bhk5h],
label.password-login[b-s9f70bhk5h] {
    color: #FFFFFF;
    font-size: 17px;
}

label.password-login[b-s9f70bhk5h] {
    margin-top: 20px;
}
/* Works don't touch hahaha */
[b-s9f70bhk5h] .input-login,
[b-s9f70bhk5h] .input-passwd {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(226, 226, 226, 0.803);
    color: #1c1c1e;
    font-size: 16px;
    transition: 0.2s ease;
}
.btn-login[b-s9f70bhk5h] {
    padding: 14px;
    border-radius: 18px;
    border: none;
    background: #0a84ff;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    width: 100%;
    margin-top: 38px;
}
.btn-login:hover[b-s9f70bhk5h] {
    background: #409cff;
}

/* Loader estilo iOS */
.loader-login[b-s9f70bhk5h] {
    width: 18px;
    height: 18px;
    border: 3px solid rgba(255,255,255,0.4);
    border-top-color: white;
    border-radius: 50%;
    animation: spin-b-s9f70bhk5h 0.8s linear infinite;
    display: inline-block;
    margin-right: 8px;
}

@keyframes spin-b-s9f70bhk5h {
    to { transform: rotate(360deg); }
}

/* Alert iOS */
.alert-login[b-s9f70bhk5h] {
    background: rgba(255, 0, 0, 0.15);
    color: #b00020;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 16px;
}